li:first-child
{
    color: red
}
li:last-child
    {
        border:2px solid blueviolet;
    }
    li:nth-child(3)
    {
        color: crimson;
        border: 2px dashed blue;
    }
    li:nth-child(odd)
    {
        color: teal;
        background-color: thistle;

    }
    li:nth-child(even)
    {
        color: violet;
    }
    li:nth-child(3n + 0)
    {
        background-color: yellowgreen;
    }
    li:nth-child(3n + 1)
    {
        background-color: rgb(39, 115, 230);
    }
    input:focus{
        border: 5px solid royalblue;
    }